/* Versão 768px - tablet */
@media screen and (max-width: 600px) {
    
    .title {
        font-size: 3em;
        text-align: center;
    }

    .subtitle {
        font-size: 2.25em;
    }

    .segunda-sec>div>img {
        width: 44vw;
    }
}

/* 425px - celular L */
@media (max-width: 426px) {
    
    header .d-flex {
        display: block;
        text-align: center;
    }

    .btn-primary {
        display: inline-block;
        margin: 10px;
    }

    .bg-img img {
        width: 80vw;
    }

    .segunda-sec>div>img {
        display: none;
    }

    .segunda-sec {
        padding: 20px;
    }
}

/* 375px - celular M */
@media (max-width: 376px) {
    
    header nav a {
        display: block;
        margin: 30px 0;
        font-size: 1.3em;
    }
}

/* 320 - celulcar S */
@media (max-width: 321px) {
    
    .title {
        font-size: 2em;
    }

    .subtitle {
        font-size: 1.6em;
        text-align: center;
    }

    footer .margin.d-flex{
        flex-direction: column;
    }
}